header {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
header .logo {
    background: url("../images/logo.png") no-repeat;
    width: 142px;
    height: 60px;
    position: relative;
    left: 20px;
}

/* ======================= */
/* ** Status of the API ** */
header #api_status {
    position: absolute;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #CCCCCC;
}

header .available {
    background-color: #FF545F;
}
/* ======================= */
